* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  color: white;
}
body {
  background-color: black;
  font-family: "Poppins", sans-serif;
  min-height: 2000px;
}

/* Navbar */
.navbar {
  /* background-color: yellow; */
  height: 4rem;
}

.navbar .navbar-logo img {
  width: 4%;
  margin-left: 12rem;
  margin-top: 1.5rem;
  /* background-color: aqua; */
}

/* Hero Section */
section {
  margin-left: 12rem;
  margin-right: 12rem;
  /* background-color: blue; */
}

.hero {
  margin-top: 13rem;
  /* display: flex; */
}
.hero.row {
  display: flex;
}

.hero .row .content {
  /* background-color: blueviolet; */
  margin-right: 60%;
  /* flex: 1 1 40rem; */
}

.hero .row .content h1 {
  font-weight: 700;
  font-size: 4rem;
  /* background-color: brown; */
}

.hero .row .content h1 span {
  /* background-color: rgb(218, 24, 24); */
  color: goldenrod;
}

.hero .row .content h4 {
  font-weight: 700;
  font-size: 1.5rem;
  /* background-color: yellowgreen; */
}

.hero .row .content p {
  line-height: 1.5rem;
}

/* .hero .row .hero-photo {
  flex: 1 1 40rem;
} */

.hero .row .hero-photo img {
  /* background-color: violet; */
  float: right;
  /* display: inline; */
}
