*,
html {
  padding: 0px;
  margin: 0px;
}

.container-navbar {
  height: 7vh;
  background-color: blue;
}

.ul-navbar {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.li-navbar {
  color: black;
  list-style-type: none;
  font-size: large;
  padding: 10px;
  align-items: center;
}

.a-navbar {
  color: black;
  text-decoration: none;
}

.img-content {
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  height: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-content {
  background-color: rgb(197, 187, 207);
  height: 80vh;
}

.container-footer {
  height: 13vh;
}
.h1-1 {
  color: black;
  text-align: centerZ;
}
